<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
    <div class="container">

  <% errors.forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% }) %>

  <% infos.forEach(function(info) { %>
    <div class="alert alert-info" role="alert">
      <%= info %>
    </div>
  <% }) %>

        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    
                   
                    <div class="row">
                        <div class="col-sm-5">      
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                            
                        <div class="col-sm-5">
                            
                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Sign up now</h3>
                                        <p>Fill in the form below:</p>
                                        <p>Your password should contain upperCase letter, lowercase letter, number, and a special character and minimum of 8 characters</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="" method="post" class="registration-form"     enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label class="sr-only"  for="form-first-name">Full Name</label>
                                            <input type="text" name="name" required="required" placeholder="Full name..." class="form-first-name form-control" id="name">
                                        </div>

                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">Username</label>
                                            <input name="username" type = "text" required="required" placeholder="Username..." 
                                                    class="form-first-name form-control" id="username"></input>
                                        </div>

                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">Email</label>
                                            <input type="email" name="email" required="required" placeholder="Email..." class="form-first-name form-control" id="email">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">Password</label>
                                            <input type="password" name="password" required="required" placeholder="Password..." class="form-first-name form-control" id="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">Confirm Password</label>
                                            <input type="password" name="password2" required="required" placeholder="Confirm Password..." class="form-first-name form-control" id="password2">
                                        </div>
                                        <script type="text/javascript">
                                        function Validate() {
                                        var password = document.getElementById("password").value;
                                        var confirmPassword = document.getElementById("password2").value;
                                        if (password != confirmPassword) {
                                            alert("Passwords do not match.");
                                            return false;
                                        }
                                        return true;
                                        }
                                        </script>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">GUC-ID</label>
                                            <input name="gucid" type = "text" required="required" placeholder="GUC-ID..." 
                                                    class="form-first-name form-control" id="gucid"></input>
                                        </div>

                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">
                                            Gender
                                            </label>
                                            <input type="radio" required="required" name="gender" value="male" checked> Male
                                            <br>
                                            <input type="radio" name="gender" value="female">
                                            Female
                                            <br>
                                        </div>

                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">Upload a profile picture</label>
                                            <input name="image" type = "file"  placeholder="image" class="form-first-name form-control" id="gucid"></input>
                                        </div>


                                        <button type="submit" onclick="return Validate()" class="btn">Sign me up!</button>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- Footer -->
       

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>